
# Word2Vec pre-trained vocabulary.
small_vocab_word_vocab
small_vocab_word_vecs.npy

# Parameters from network that are saved.
saved_params*

# Data.
OpenSubtitlesSentences
OpenSubtitlesSentences.pickle

*.pyc
*.swp
